name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Run ruff linting
        run: uv run ruff check .

      - name: Run ruff formatting
        run: uv run ruff format --check --diff .

      # Skip type checking because of limitations in LiteLLM package
      # - name: Run type checking with pyright
      #   run: uv run pyright

      # No tests written yet for this simple program
      # - name: Run pytest
      #   run: uv run pytest -v
